body {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #0A2571 65%, #cccbcbe0 35%);
    font-family: Arial, sans-serif;
    overflow: auto; 
}
.container {
    display: flex;
    width: 100%;
    min-height: 100vh; 
    background-color: rgba(238, 238, 238, 0);
    align-items: stretch; 
}

.sidebar-container {
    width: 40%; 
    color: white;
    padding: 20px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: rgba(127, 156, 115, 0);
    
   
}
    


.sidebar {
    width: 100%; 
    height: 100%;
    font-size: 14px;
    justify-content: space-between; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding-right: 20px;
   
}

.sidebar-perfil {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3); 
}

.sidebar-perfil img {
    margin-top: 10px;
    width: 120px;
    height: 144px;  
    background-color: #ffffff;
    margin-bottom: 10px;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    border: 2px solid rgb(51, 7, 7); 
}

.sidebar-perfil h2 {
    
    font-family: Koh Santepheap;
  
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.sidebar p {
    text-align: center;
    font-size: 14px;
    margin: 5px 0px;
}

.sidebar .section {
    width: 100%; 
    box-sizing: border-box; 
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5px; 
  
}

.ul-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px; 
    width: 50%; 
    margin: 0 auto; 
    text-align: left; 
    
 
    margin-left: 110px;
    color: #fff;
 
}

.sidebar :nth-child(5) {
    margin-bottom: 100px;
}

.sidebar .sectionThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.sidebar .sectionThree ul {
    display: inline-block;
    width: auto; 
    margin: 0 10px; 
}

.sidebar .section h3 {
    width: 100%; 
    
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center; 
    background-color: #3C59B0; 
    padding: 10px; 
    margin: 10px; 
    
}

.icon{
    margin-right: 5px;
}

.sidebar .section ul {
    width: 50%; 
    margin: 0 auto; 
    text-align: left; 
    font-size: 14px;
    color: #fff;
    line-height: 1.6;
    
    
}




.content {
    flex-grow: 1; 
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    width: 70%;
    border-radius: 32px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.401);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.content-section {
    width: 100%;
}

.content-section h2 {
    background-color: #0a2571df;
    color: white;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-right: -40px; 
}

.content p {
    font-size: 14px;
    color: #333;
    padding-left: 8px;
    
    line-height: 1.6;
    text-align: justify;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.content-section .project-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #f7f7f7;
    box-shadow: 10px 14px 11px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.education, .experience {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

}

.education li, .experience li {
    font-weight: bolder;
    
}

.education p, .experience p {
    padding-left: 0px;
    
}


.project-header img {
    width: 100%;
    height: 130px;
    border-radius: 8px;
}

.project-body {
    padding: 10px;
    text-align: center;
}

.project-body a{
    color: #091016; 
 
}

.project-body a:hover {
    color: #0a2571df;
    text-decoration: underline; 
}

.project-body h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
    text-align: left;
}

.project-body p {
    padding-left: 0px;
    margin: 5px 0;
    color: #666;
}


.card {
    width: fit-content;
    height: fit-content;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    
  }
  

.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow: hidden;
    border-radius: 100%;
    transition-duration: .3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.socialContainer:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}


  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
 
  .containerTwo:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  
  .containerThree:hover {
    background-color: #091216;
    transition-duration: .3s;
  }
 
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
.socialSvg {
    width: 17px;
    
}
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  